html, body{
    margin:0;
    padding:0;
    font-family: Arial, Helvetica, sans-serif;
}
.wrapper{
    margin:30px;
    height:94vh;
}
.full-length{
    
    height:100%;
    display: flex;
    flex-direction: column;
}
.naming{
    display:flex;
    width:1000px;
    padding:10px;
}
#high_name{
    padding-top:15px;
    margin:0px 0px 0px 10px;
}
.nav{
    display:flex;
    background-color: rgb(213, 233, 250);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.navigations{
    width:100%;
    justify-content: flex-end;
    margin-right:20px;
}
ul{
    padding:10px;
    display:flex;
    justify-content: flex-end;
    gap:30px;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color:rgb(94, 94, 100);
}
a:hover{
    color:rgb(25, 25, 255);
}
.main{
    height:100%;
    display:flex;
    justify-content: center;;
    align-items: center;
    gap:20px;
    flex-direction: column;
}
.btn{
    width:300px;
    height:150px;
    border-radius:20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:20px;
}
.btn:hover{
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2), 0 10px 20px 0 rgba(0, 0, 0, 0.19);
    transition: 0.3s;
    cursor: pointer;
}
#footer, #cpyrht{
    margin:5px;
    text-align: center;
}
footer{
    background-color: rgb(213, 233, 250);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px; 
    height:60px;  
}
